<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loca_market">

    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loca_Market"
        tools:replace="android:theme">
        <activity android:name=".ui.client.Activities.ClientCartActivity"></activity>
        <activity android:name=".ui.client.Activities.ProductDetailsActivity" />
        <activity android:name=".ui.client.Activities.AllCategories" />
        <activity android:name=".ui.seller.SellerHomeActivity" />
        <activity android:name=".ui.userAuth.ForgotPasswordActivity" />
        <activity android:name=".ui.userAuth.RegistrationActivity" />
        <activity android:name=".ui.userAuth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.userAuth.SplashActivity" />
        <activity android:name=".ui.client.Activities.ProductsOfCategoryActivity" />
        <activity android:name=".ui.client.ClientHomeActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_16aDCdOdDuAfHO" />
    </application>

</manifest>